<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wearables.ge.wearables_ble_receiver">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Holo.Light.DarkActionBar"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".activities.ui.MainTabbedActivity"
            android:label="@string/app_name"/>

        <activity android:name=".activities.main.MainActivity" />
        <activity
            android:name=".activities.main.DisplayMessageActivity"
            android:parentActivityName=".activities.main.MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.main.MainActivity" />
        </activity>
        <activity
            android:name=".activities.main.AuthenticatorActivity"
            android:label="@string/title_activity_authenticator"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".services.BluetoothService" />

        <activity
            android:name=".activities.main.RealTimeDataSelectionActivity"
            android:label="@string/title_activity_real_time_data_selection"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.main.DisplayMessageActivity" />
        </activity>
        <activity
            android:name=".activities.graphs.VoltageSensorGraphsActivity"
            android:label="@string/title_activity_voltage_sensor_graphs"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.main.RealTimeDataSelectionActivity" />
        </activity>
        <activity
            android:name=".activities.graphs.AccelerationSensorGraphs"
            android:label="@string/title_activity_acceleration_sensor_graphs"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.main.RealTimeDataSelectionActivity" />
        </activity>
        <activity
            android:name=".activities.graphs.SpO2SensorGraphs"
            android:label="@string/title_activity_sp_o2_sensor_graphs"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.main.RealTimeDataSelectionActivity" />
        </activity>
        <activity
            android:name=".activities.graphs.TempHumiditySensorGraph"
            android:label="@string/title_activity_temp_humidity_sensor_graph"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.main.RealTimeDataSelectionActivity" />
        </activity>
        <activity
            android:name=".activities.graphs.VocGraphs"
            android:label="@string/title_activity_voc_graphs"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.main.RealTimeDataSelectionActivity" />
        </activity>
    </application>

</manifest>